<div class="container-fluid section-signup">
<input id="get_user_id" type="hidden" name="returns current user for java script" value=<%=current_user.id%>>
<div class="container background-white">
<h2> Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: false, autofocus: false, hint: "Your full name", placeholder: "Edit your name", label: false, input_html: { class: 'input_with_icon user-icon' }, autocomplete: "off" %>
    <%= f.input :photo %>
   <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, placeholder: "your current password", input_html: { class: 'input_with_icon password-icon' } %>
    <%= f.input :email, required: true, autofocus: true, input_html: { class: 'input_with_icon email-icon' }%>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, placeholder: "new password", input_html: { class: 'input_with_icon password-icon' } %>
    <%= f.input :password_confirmation, hint: "repeat the new passord", required: false , placeholder: "confirm new password", input_html: { class: 'input_with_icon password-icon' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class:"btn btn-accent"%>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

</div>
</div>
