<div class="card-students-applied col-xs-12">
  <div class="container-fluid">
    <div class="row">
      <!-- Coluna foto -->
      <div class="col-xs-3">
        <% if student.photo? %>
          <%= link_to user_path(student, job_id: @job.id) do %>
          <% image_options = { height: 50, width: 50, radius:50, crop: :fill } %>
            <%= cl_image_tag student.photo, image_options %>
          <% end %>
        <% else  %>
          <%= link_to user_path(student, job_id: @job.id) do %>
          <%= image_tag("icons/user.svg", class:"avatar-round-small")%>
        <% end %>

      <% end %>
    </div>
    <!-- Coluna Name, University, Rating -->
    <div class="col-xs-6">
      <div class="row student-details-card">
        <p><%= student.name || "no name"%></p>
      </div>
      <div class="row student-details-card">
        <p>Universidade Nova de Lisboa
        </p>
      </div>
    </div>
    <!-- Coluna select student icon -->
    <div class="col-xs-3 text-center">

      <!-- select student -->

      <% if booking.state == "accepted" %>

        <%= link_to booking_accept_path(booking), method: :post do %>
        <i class="far fa-check-circle" ,="," style="font-size:40px;color:green;"></i>
      <% end %>

      <% elsif booking.state == "pending" %>

        <%= link_to booking_accept_path(booking), method: :post do %>
        <i class="fa fa-question-circle" ,="," style="font-size:40px;color:gray;"></i>
      <% end %>

    <% end %>
    <p><%= booking.state %></p>
  </div>
</div>
</div>
</div>
