<%= link_to job_path(job) do %>
  <div class="container-fluid">

    <div class="card col-xs-12">
      <div class="row">
        <div class="container booking-card-section up">
          <div class="job-card-category-icon col-xs-2">
            <% if job.category.name.downcase == "moving" %>
              <%= inline_svg('icons/truck-moving-light.svg', class:"icon_on_large_card") %>
            <% elsif job.category.name.downcase == "sitting" %>
              <%= inline_svg('icons/paw-light.svg', class:"icon_on_large_card") %>
            <% elsif job.category.name.downcase == "home" %>
              <%= inline_svg('icons/home-light.svg', class:"icon_on_large_card") %>
            <% elsif job.category.name.downcase == "errands" %>
              <%= inline_svg('icons/person-carry-light.svg', class:"icon_on_large_card") %>
            <% end %>
          </div>
          <div class="job-card-title col-xs-8">
            <h4><%= job.title.capitalize %></h4>
              <div class="booking-state"><p><%= job.bookings.find_by(student: current_user).state %></p></div>

          </div>
          <!-- INSERT AVATAR IMAGE OF THE OWNER -->
          <div class="avatar-card- col-xs-2">
             <% if job.client.photo? %>
            <% image_options = { height: 50, width: 50, crop: :fill } %>
            <%= cl_image_tag job.client.photo, image_options %>
          <% else  %>
            <%= image_tag("icons/user.svg", class:"avatar-round-small")%>
          <% end %>
          </div>
        </div> <!-- fim do section up -->
      </div> <!-- fim do row -->

         <!-- fim do section up -->
      <div class="row">
        <div class='booking-card-section down'>
          <div class='col-xs-4 time-booking-card'>
            <h4><%= job.time.strftime('%a %d') %></h4>
            <h4><%= job.time.strftime('%B') %></h4>
          </div>
          <div class='col-xs-8 location-card'>
            <!-- INSERT LOCATION -->

            <div class="fa fa-map-marker">
              <div class="addres-large-card"><p><%= "#{job.address}" %></p></div>
            </div>

          </div>
        </div> <!-- fim da section down -->
      </div> <!-- fim do row -->

    </div>
  </div>
<% end %>
